{
  "extends": ["eslint:recommended", "plugin:react/recommended", "react-app", "react-app/jest", "prettier"],
  "plugins": ["react", "simple-import-sort", "unused-imports", "prettier"],
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "arrow-body-style": "warn",
    "unused-imports/no-unused-imports": "warn",
    "simple-import-sort/imports": [
      "warn",
      {
        "groups": [
          [
            "^react",
            "^@?\\w",
            "^(@|components)(/.*|$)",
            "^\\u0000",
            "^\\.\\.(?!/?$)",
            "^\\.\\./?$",
            "^\\./(?=.*/)(?!/?$)",
            "^\\.(?!/?$)",
            "^\\./?$",
            "^.+\\.?(css)$"
          ]
        ]
      }
    ]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
