{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "plugins": ["prettier", "simple-import-sort", "unused-imports"],
  "rules": {
    "unused-imports/no-unused-imports": "error",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          [
            "^react",
            "^@?\\w",
            "^(@|components)(/.*|$)",
            "^\\u0000",
            "^\\.\\.(?!/?$)",
            "^\\.\\./?$",
            "^\\./(?=.*/)(?!/?$)",
            "^\\.(?!/?$)",
            "^\\./?$",
            "^.+\\.?(css)$"
          ]
        ]
      }
    ]
  }
}
