$bar-color: rgb(36 36 36);

.menu-button {
  z-index: 2;
  display: flex;
  width: 2rem;
  height: 2rem;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  background: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  div {
    position: relative;
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: $bar-color;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }
}
